body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background: none;
}

.calculator {
    width: 260px;
    max-width: 90vw;     
    background-color: darkmagenta;
    border-radius: 35px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 2px solid #333;
}

#val {
    width: 230px;
    max-width: 85vw;      
    height: 120px;        
    background: white;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1);
    border: 2px solid #333;
    margin-bottom: 15px;
}

.input1 {
    width: 230px;
    max-width: 85vw;
    text-align: center;
    background: white;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 2px solid #333;
}


.num, .dot {
    background-color: #f0e6d2;  
    color: #333;
    border-radius: 15px;
    width: 50px;
    max-width: 18vw;
    height: 50px;
    max-height: 18vw;
    font-size: 1.2rem;
    margin: 5px;
    border: 2px solid #999;
}

.op {
    background-color: #f7a600;  
    color: white;
    border-radius: 15px;
    width: 50px;
    max-width: 18vw;
    height: 50px;
    max-height: 18vw;
    font-size: 1.2rem;
    margin: 5px;
    border: 2px solid #999;
}

.equal {
    background-color: #34c759;   
    color: white;
    border-radius: 15px;
    width: 50px;
    max-width: 18vw;
    height: 50px;
    max-height: 18vw;
    font-size: 1.2rem;
    margin: 5px;
    border: 2px solid #999;
}

.back, .clear {
    background-color: #d1d1d6;   /* gray buttons */
    color: black;
    border-radius: 15px;
    width: 50px;
    max-width: 18vw;
    height: 50px;
    max-height: 18vw;
    font-size: 1.2rem;
    margin: 5px;
    border: 2px solid #999;
}


.num:hover, .dot:hover, .op:hover, .equal:hover, .back:hover, .clear:hover {
    filter: brightness(90%);
}


@media (max-width: 350px) {
    .calculator, .input1, #val {
        width: 90vw;
    }
    .num, .dot, .op, .equal, .back, .clear {
        width: 18vw;
        height: 18vw;
        font-size: 1rem;
        margin: 4px;
    }
}
