body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin:0;
    background:none;
}

.calculator {
    width: 260px;
    max-width: 90vw; 
    height: auto;
    height: 520px;
    background-color: darkmagenta;
    border-radius: 35px;       
    padding: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 2px solid #333;    
}

#val {
    width: 230px;
    height: 200px;
    justify-content: center;
    background:white;
    border-radius: 35px;      
    padding: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 2px solid #333;    
}

.input1 {
    width: 230px;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:white;
    border-radius: 35px;  
    padding: 15px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 2px solid #333;   
}

.input1:hover{
    background-color: slateblue;
}

.num,.op,.equal,.back,.clear,.dot {
    width: 50px;
    height: 50px;
    max-width:20vw;
    justify-content: center;
    text-align: center;
    background:white;
    border-radius: 20px;    
    padding: 15px;
    position: relative;
    box-shadow: 0 10px 30px;
    border: 2px solid #333;    
}

.equal{
    background-color: skyblue;
}

.equal:hover{
    background-color: blue;
    color: black;
}

.num,.dot{
    background-color: antiquewhite;
    color: blue;
}

.num:hover{
    background-color: grey;
}

.dot:hover{
    background-color: grey;
}

.op{
    color: blue;
}

.op:hover{
    color: black;
    background-color: silver;
}

.back:hover{
    background-color: blue;
}

.clear:hover{
    background-color: blue;
}

.calculator:hover{
    background-color: darkblue;
}
